@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Montserrat:wght@400;500;600;700&display=swap');


@font-face {
  font-family: "BDPBIRGULA";
  src: url("./../public/fonts/BDPBIRGULA.ttf");
}

@font-face {
  font-family: "galderglynn";
  src: url("./../public/fonts/galderglynn-titling-bk.ttf");
}

@layer base {
  html {
    /* font-family: galderglynn, system-ui, sans-serif; */
  }

  h1, p {
    @apply text-slate-800
  }

  
}
